body {
    background-image: url('src/pokedex_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titre{
    color: aliceblue;
    font-size: 25px;
    text-align: center;
}

#input {
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 20px; 
    background-image: url('src/search_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    border: 2px solid #000;
}

#input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.data img{
    border: 3px solid black;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 30px;
    width: 15%;
    height: auto;
}

.data p{
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
}

.data_random_container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;

}

.data_random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.data_random img {
    border: 3px solid black;
    border-radius: 15px;
    background-color: lightblue;
    padding: 10px;
    width: 50%;
    height: auto;
}

.data_random p {
    background-color: lightblue;
    color: black;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

.sprites_default_popup{
    border: 3px solid black;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    height: auto;
}

.sprites_shiny_popup{
    border: 3px solid black;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    height: auto;
}

.popup-type{
    display: flex;          
    gap: 10px;          
    justify-content: center;    
    align-items: center;
}

.popup-type img{
    width: 50px;        
    height: auto; 
}

#close {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: right;
}
